.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.857910;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.856934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.858398;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.861328;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffa;src:url(fa.woff)format("woff");}.ffa{font-family:ffa;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffb;src:url(fb.woff)format("woff");}.ffb{font-family:ffb;line-height:0.871094;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffc;src:url(fc.woff)format("woff");}.ffc{font-family:ffc;line-height:0.694824;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffd;src:url(fd.woff)format("woff");}.ffd{font-family:ffd;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffe;src:url(fe.woff)format("woff");}.ffe{font-family:ffe;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:fff;src:url(ff.woff)format("woff");}.fff{font-family:fff;line-height:0.692871;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff10;src:url(f10.woff)format("woff");}.ff10{font-family:ff10;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff11;src:url(f11.woff)format("woff");}.ff11{font-family:ff11;line-height:0.688965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff12;src:url(f12.woff)format("woff");}.ff12{font-family:ff12;line-height:0.853027;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff13;src:url(f13.woff)format("woff");}.ff13{font-family:ff13;line-height:0.858398;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m2{transform:matrix(0.255000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.255000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.255000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls24{letter-spacing:-2.265599px;}
.ls1d{letter-spacing:-0.554400px;}
.ls17{letter-spacing:-0.460800px;}
.ls3{letter-spacing:-0.237600px;}
.ls1f{letter-spacing:-0.230400px;}
.ls9{letter-spacing:-0.220800px;}
.ls11{letter-spacing:-0.201600px;}
.lse{letter-spacing:-0.192000px;}
.ls23{letter-spacing:-0.179200px;}
.ls7{letter-spacing:-0.172800px;}
.ls2{letter-spacing:-0.165600px;}
.ls5{letter-spacing:-0.144000px;}
.ls1c{letter-spacing:-0.140800px;}
.ls13{letter-spacing:-0.139200px;}
.lsd{letter-spacing:-0.136800px;}
.ls6{letter-spacing:-0.134400px;}
.ls1e{letter-spacing:-0.089600px;}
.ls27{letter-spacing:-0.067200px;}
.ls14{letter-spacing:-0.062400px;}
.ls8{letter-spacing:-0.048000px;}
.ls26{letter-spacing:-0.038400px;}
.ls16{letter-spacing:-0.007200px;}
.ls0{letter-spacing:0.000000px;}
.ls10{letter-spacing:0.009600px;}
.ls22{letter-spacing:0.014400px;}
.ls4{letter-spacing:0.019200px;}
.ls1a{letter-spacing:0.028800px;}
.ls20{letter-spacing:0.057600px;}
.ls1{letter-spacing:0.076800px;}
.lsc{letter-spacing:0.121600px;}
.ls12{letter-spacing:0.124800px;}
.ls15{letter-spacing:0.182400px;}
.lsb{letter-spacing:0.185600px;}
.ls21{letter-spacing:0.187200px;}
.lsa{letter-spacing:0.192000px;}
.ls18{letter-spacing:0.201600px;}
.ls19{letter-spacing:0.208800px;}
.lsf{letter-spacing:0.281600px;}
.ls1b{letter-spacing:0.294400px;}
.ls25{letter-spacing:0.439216px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._a{margin-left:-1834.246708px;}
._4{margin-left:-6.145600px;}
._6{margin-left:-4.289200px;}
._1{margin-left:-2.560000px;}
._2{margin-left:-1.380091px;}
._0{width:1.177600px;}
._7{width:2.576583px;}
._8{width:16.500000px;}
._5{width:29.016000px;}
._3{width:38.400000px;}
._9{width:103.519960px;}
.fc4{color:rgb(5,99,193);}
.fc0{color:rgb(255,255,255);}
.fc1{color:rgb(255,255,0);}
.fc3{color:rgb(0,0,0);}
.fc5{color:rgb(153,153,153);}
.fc2{color:rgb(0,173,216);}
.fs5{font-size:48.000000px;}
.fs4{font-size:63.999994px;}
.fs1{font-size:72.000000px;}
.fs2{font-size:96.000000px;}
.fs6{font-size:120.000000px;}
.fs3{font-size:127.999968px;}
.fs7{font-size:160.000032px;}
.fs9{font-size:192.000000px;}
.fs0{font-size:256.000032px;}
.fs8{font-size:313.725504px;}
.y0{bottom:0.000000px;}
.y1f{bottom:86.160000px;}
.y2a{bottom:120.720000px;}
.y13{bottom:131.760000px;}
.y34{bottom:161.520000px;}
.y33{bottom:170.400000px;}
.y10{bottom:175.920000px;}
.y1b{bottom:178.320000px;}
.yf{bottom:190.800000px;}
.y29{bottom:197.520000px;}
.y1a{bottom:199.200000px;}
.y9{bottom:210.960000px;}
.yd{bottom:213.840000px;}
.y2{bottom:216.480000px;}
.y15{bottom:217.440000px;}
.y28{bottom:219.600000px;}
.y19{bottom:221.280000px;}
.y14{bottom:238.560000px;}
.y27{bottom:241.440000px;}
.y18{bottom:243.120000px;}
.y8{bottom:246.960000px;}
.y26{bottom:262.560000px;}
.y17{bottom:264.240000px;}
.yb{bottom:268.800000px;}
.y7{bottom:282.960000px;}
.y25{bottom:284.640000px;}
.y1{bottom:285.360000px;}
.y16{bottom:293.040000px;}
.y24{bottom:305.520000px;}
.yc{bottom:316.320000px;}
.y6{bottom:318.960000px;}
.y11{bottom:319.920000px;}
.y12{bottom:320.640000px;}
.y30{bottom:322.800000px;}
.y32{bottom:326.880000px;}
.y1c{bottom:333.120000px;}
.y23{bottom:349.440000px;}
.y5{bottom:354.000000px;}
.y22{bottom:370.560000px;}
.y2f{bottom:370.800000px;}
.y4{bottom:390.000000px;}
.y2c{bottom:397.920000px;}
.y31{bottom:411.483120px;}
.y2b{bottom:413.040000px;}
.y3{bottom:415.920000px;}
.y2e{bottom:418.800000px;}
.y1e{bottom:432.960000px;}
.y20{bottom:434.880000px;}
.y2d{bottom:447.120000px;}
.ya{bottom:448.320000px;}
.y1d{bottom:454.080000px;}
.y21{bottom:491.760000px;}
.ye{bottom:498.720000px;}
.h8{height:32.812500px;}
.h9{height:34.453125px;}
.h5{height:43.531246px;}
.h2{height:48.937500px;}
.h6{height:48.972656px;}
.hd{height:49.886719px;}
.ha{height:51.679688px;}
.h3{height:65.296875px;}
.hc{height:72.000000px;}
.h4{height:87.062478px;}
.h7{height:87.499978px;}
.hb{height:91.874977px;}
.he{height:116.484398px;}
.h10{height:129.750000px;}
.h1{height:174.125022px;}
.hf{height:213.541676px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x8{left:21.694880px;}
.x15{left:27.173230px;}
.x7{left:31.929690px;}
.x1a{left:37.054490px;}
.x1b{left:51.859290px;}
.x2{left:60.671570px;}
.x16{left:61.721730px;}
.x6{left:65.357400px;}
.x1d{left:131.325700px;}
.x13{left:156.891300px;}
.x5{left:182.610900px;}
.x17{left:189.392300px;}
.x3{left:222.999800px;}
.x4{left:239.124800px;}
.x1{left:267.787400px;}
.xc{left:281.783100px;}
.xb{left:353.522200px;}
.x18{left:359.783000px;}
.xa{left:476.391700px;}
.x9{left:485.783000px;}
.x11{left:563.960800px;}
.x12{left:568.085800px;}
.xe{left:607.380900px;}
.x10{left:616.717300px;}
.x14{left:625.460800px;}
.xd{left:637.721600px;}
.xf{left:642.417400px;}
.x1c{left:706.702600px;}
.x19{left:720.939100px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls24{letter-spacing:-3.020799pt;}
.ls1d{letter-spacing:-0.739200pt;}
.ls17{letter-spacing:-0.614400pt;}
.ls3{letter-spacing:-0.316800pt;}
.ls1f{letter-spacing:-0.307200pt;}
.ls9{letter-spacing:-0.294400pt;}
.ls11{letter-spacing:-0.268800pt;}
.lse{letter-spacing:-0.256000pt;}
.ls23{letter-spacing:-0.238933pt;}
.ls7{letter-spacing:-0.230400pt;}
.ls2{letter-spacing:-0.220800pt;}
.ls5{letter-spacing:-0.192000pt;}
.ls1c{letter-spacing:-0.187733pt;}
.ls13{letter-spacing:-0.185600pt;}
.lsd{letter-spacing:-0.182400pt;}
.ls6{letter-spacing:-0.179200pt;}
.ls1e{letter-spacing:-0.119467pt;}
.ls27{letter-spacing:-0.089600pt;}
.ls14{letter-spacing:-0.083200pt;}
.ls8{letter-spacing:-0.064000pt;}
.ls26{letter-spacing:-0.051200pt;}
.ls16{letter-spacing:-0.009600pt;}
.ls0{letter-spacing:0.000000pt;}
.ls10{letter-spacing:0.012800pt;}
.ls22{letter-spacing:0.019200pt;}
.ls4{letter-spacing:0.025600pt;}
.ls1a{letter-spacing:0.038400pt;}
.ls20{letter-spacing:0.076800pt;}
.ls1{letter-spacing:0.102400pt;}
.lsc{letter-spacing:0.162133pt;}
.ls12{letter-spacing:0.166400pt;}
.ls15{letter-spacing:0.243200pt;}
.lsb{letter-spacing:0.247467pt;}
.ls21{letter-spacing:0.249600pt;}
.lsa{letter-spacing:0.256000pt;}
.ls18{letter-spacing:0.268800pt;}
.ls19{letter-spacing:0.278400pt;}
.lsf{letter-spacing:0.375467pt;}
.ls1b{letter-spacing:0.392533pt;}
.ls25{letter-spacing:0.585621pt;}
.ws0{word-spacing:0.000000pt;}
._a{margin-left:-2445.662278pt;}
._4{margin-left:-8.194134pt;}
._6{margin-left:-5.718933pt;}
._1{margin-left:-3.413334pt;}
._2{margin-left:-1.840122pt;}
._0{width:1.570134pt;}
._7{width:3.435444pt;}
._8{width:22.000000pt;}
._5{width:38.688000pt;}
._3{width:51.200000pt;}
._9{width:138.026613pt;}
.fs5{font-size:64.000000pt;}
.fs4{font-size:85.333325pt;}
.fs1{font-size:96.000000pt;}
.fs2{font-size:128.000000pt;}
.fs6{font-size:160.000000pt;}
.fs3{font-size:170.666624pt;}
.fs7{font-size:213.333376pt;}
.fs9{font-size:256.000000pt;}
.fs0{font-size:341.333376pt;}
.fs8{font-size:418.300672pt;}
.y0{bottom:0.000000pt;}
.y1f{bottom:114.880000pt;}
.y2a{bottom:160.960000pt;}
.y13{bottom:175.680000pt;}
.y34{bottom:215.360000pt;}
.y33{bottom:227.200000pt;}
.y10{bottom:234.560000pt;}
.y1b{bottom:237.760000pt;}
.yf{bottom:254.400000pt;}
.y29{bottom:263.360000pt;}
.y1a{bottom:265.600000pt;}
.y9{bottom:281.280000pt;}
.yd{bottom:285.120000pt;}
.y2{bottom:288.640000pt;}
.y15{bottom:289.920000pt;}
.y28{bottom:292.800000pt;}
.y19{bottom:295.040000pt;}
.y14{bottom:318.080000pt;}
.y27{bottom:321.920000pt;}
.y18{bottom:324.160000pt;}
.y8{bottom:329.280000pt;}
.y26{bottom:350.080000pt;}
.y17{bottom:352.320000pt;}
.yb{bottom:358.400000pt;}
.y7{bottom:377.280000pt;}
.y25{bottom:379.520000pt;}
.y1{bottom:380.480000pt;}
.y16{bottom:390.720000pt;}
.y24{bottom:407.360000pt;}
.yc{bottom:421.760000pt;}
.y6{bottom:425.280000pt;}
.y11{bottom:426.560000pt;}
.y12{bottom:427.520000pt;}
.y30{bottom:430.400000pt;}
.y32{bottom:435.840000pt;}
.y1c{bottom:444.160000pt;}
.y23{bottom:465.920000pt;}
.y5{bottom:472.000000pt;}
.y22{bottom:494.080000pt;}
.y2f{bottom:494.400000pt;}
.y4{bottom:520.000000pt;}
.y2c{bottom:530.560000pt;}
.y31{bottom:548.644160pt;}
.y2b{bottom:550.720000pt;}
.y3{bottom:554.560000pt;}
.y2e{bottom:558.400000pt;}
.y1e{bottom:577.280000pt;}
.y20{bottom:579.840000pt;}
.y2d{bottom:596.160000pt;}
.ya{bottom:597.760000pt;}
.y1d{bottom:605.440000pt;}
.y21{bottom:655.680000pt;}
.ye{bottom:664.960000pt;}
.h8{height:43.750000pt;}
.h9{height:45.937500pt;}
.h5{height:58.041661pt;}
.h2{height:65.250000pt;}
.h6{height:65.296875pt;}
.hd{height:66.515625pt;}
.ha{height:68.906250pt;}
.h3{height:87.062500pt;}
.hc{height:96.000000pt;}
.h4{height:116.083304pt;}
.h7{height:116.666638pt;}
.hb{height:122.499969pt;}
.he{height:155.312531pt;}
.h10{height:173.000000pt;}
.h1{height:232.166696pt;}
.hf{height:284.722235pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x8{left:28.926507pt;}
.x15{left:36.230973pt;}
.x7{left:42.572920pt;}
.x1a{left:49.405987pt;}
.x1b{left:69.145720pt;}
.x2{left:80.895427pt;}
.x16{left:82.295640pt;}
.x6{left:87.143200pt;}
.x1d{left:175.100933pt;}
.x13{left:209.188400pt;}
.x5{left:243.481200pt;}
.x17{left:252.523067pt;}
.x3{left:297.333067pt;}
.x4{left:318.833067pt;}
.x1{left:357.049867pt;}
.xc{left:375.710800pt;}
.xb{left:471.362933pt;}
.x18{left:479.710667pt;}
.xa{left:635.188933pt;}
.x9{left:647.710667pt;}
.x11{left:751.947733pt;}
.x12{left:757.447733pt;}
.xe{left:809.841200pt;}
.x10{left:822.289733pt;}
.x14{left:833.947733pt;}
.xd{left:850.295467pt;}
.xf{left:856.556533pt;}
.x1c{left:942.270133pt;}
.x19{left:961.252133pt;}
}
