.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.857910;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.858398;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.855469;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.694824;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffa;src:url(fa.woff)format("woff");}.ffa{font-family:ffa;line-height:0.855469;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffb;src:url(fb.woff)format("woff");}.ffb{font-family:ffb;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffc;src:url(fc.woff)format("woff");}.ffc{font-family:ffc;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffd;src:url(fd.woff)format("woff");}.ffd{font-family:ffd;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffe;src:url(fe.woff)format("woff");}.ffe{font-family:ffe;line-height:0.690918;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:fff;src:url(ff.woff)format("woff");}.fff{font-family:fff;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff10;src:url(f10.woff)format("woff");}.ff10{font-family:ff10;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff11;src:url(f11.woff)format("woff");}.ff11{font-family:ff11;line-height:0.856934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff12;src:url(f12.woff)format("woff");}.ff12{font-family:ff12;line-height:0.675781;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff13;src:url(f13.woff)format("woff");}.ff13{font-family:ff13;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff14;src:url(f14.woff)format("woff");}.ff14{font-family:ff14;line-height:0.925293;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff15;src:url(f15.woff)format("woff");}.ff15{font-family:ff15;line-height:0.731445;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff16;src:url(f16.woff)format("woff");}.ff16{font-family:ff16;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff17;src:url(f17.woff)format("woff");}.ff17{font-family:ff17;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff18;src:url(f18.woff)format("woff");}.ff18{font-family:ff18;line-height:0.694824;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff19;src:url(f19.woff)format("woff");}.ff19{font-family:ff19;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff1a;src:url(f1a.woff)format("woff");}.ff1a{font-family:ff1a;line-height:0.826172;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff1b;src:url(f1b.woff)format("woff");}.ff1b{font-family:ff1b;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff1c;src:url(f1c.woff)format("woff");}.ff1c{font-family:ff1c;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff1d;src:url(f1d.woff)format("woff");}.ff1d{font-family:ff1d;line-height:0.690918;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff1e;src:url(f1e.woff)format("woff");}.ff1e{font-family:ff1e;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff1f;src:url(f1f.woff)format("woff");}.ff1f{font-family:ff1f;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff20;src:url(f20.woff)format("woff");}.ff20{font-family:ff20;line-height:0.857910;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff21;src:url(f21.woff)format("woff");}.ff21{font-family:ff21;line-height:0.692871;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff22;src:url(f22.woff)format("woff");}.ff22{font-family:ff22;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff23;src:url(f23.woff)format("woff");}.ff23{font-family:ff23;line-height:0.688965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff24;src:url(f24.woff)format("woff");}.ff24{font-family:ff24;line-height:0.853027;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff25;src:url(f25.woff)format("woff");}.ff25{font-family:ff25;line-height:0.858398;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m2{transform:matrix(0.255000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.255000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.255000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls38{letter-spacing:-5.443200px;}
.ls2d{letter-spacing:-3.823200px;}
.ls2b{letter-spacing:-3.326400px;}
.ls18{letter-spacing:-2.713599px;}
.ls3b{letter-spacing:-2.265599px;}
.ls15{letter-spacing:-1.894400px;}
.ls2a{letter-spacing:-1.764000px;}
.ls12{letter-spacing:-1.483200px;}
.ls39{letter-spacing:-1.360800px;}
.ls1f{letter-spacing:-1.203200px;}
.ls30{letter-spacing:-1.101600px;}
.ls2e{letter-spacing:-1.065600px;}
.ls3a{letter-spacing:-0.820800px;}
.ls20{letter-spacing:-0.554400px;}
.lsf{letter-spacing:-0.460800px;}
.ls1b{letter-spacing:-0.259200px;}
.ls1e{letter-spacing:-0.237600px;}
.ls7{letter-spacing:-0.220800px;}
.ls2c{letter-spacing:-0.187200px;}
.lsd{letter-spacing:-0.179200px;}
.ls5{letter-spacing:-0.172800px;}
.ls24{letter-spacing:-0.166400px;}
.ls1c{letter-spacing:-0.165600px;}
.ls3{letter-spacing:-0.144000px;}
.lsc{letter-spacing:-0.140800px;}
.lsb{letter-spacing:-0.136800px;}
.ls4{letter-spacing:-0.134400px;}
.ls23{letter-spacing:-0.129600px;}
.ls2f{letter-spacing:-0.122400px;}
.ls3d{letter-spacing:-0.067200px;}
.ls37{letter-spacing:-0.050400px;}
.ls6{letter-spacing:-0.048000px;}
.ls36{letter-spacing:-0.038400px;}
.lse{letter-spacing:-0.025600px;}
.ls1d{letter-spacing:-0.014400px;}
.ls35{letter-spacing:-0.007200px;}
.ls0{letter-spacing:0.000000px;}
.ls16{letter-spacing:0.012800px;}
.ls13{letter-spacing:0.014400px;}
.ls2{letter-spacing:0.019200px;}
.ls32{letter-spacing:0.038400px;}
.ls26{letter-spacing:0.043200px;}
.ls14{letter-spacing:0.050400px;}
.ls28{letter-spacing:0.057600px;}
.ls21{letter-spacing:0.064000px;}
.ls1{letter-spacing:0.076800px;}
.ls22{letter-spacing:0.102400px;}
.lsa{letter-spacing:0.121600px;}
.ls25{letter-spacing:0.124800px;}
.ls29{letter-spacing:0.129600px;}
.ls1a{letter-spacing:0.144000px;}
.ls17{letter-spacing:0.153600px;}
.ls9{letter-spacing:0.185600px;}
.ls27{letter-spacing:0.187200px;}
.ls8{letter-spacing:0.192000px;}
.ls10{letter-spacing:0.201600px;}
.ls11{letter-spacing:0.208800px;}
.ls34{letter-spacing:0.230400px;}
.ls33{letter-spacing:0.243200px;}
.ls31{letter-spacing:0.281600px;}
.ls19{letter-spacing:0.294400px;}
.ls3c{letter-spacing:0.439216px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._e{margin-left:-2877.050457px;}
._11{margin-left:-1834.246708px;}
._c{margin-left:-7.238628px;}
._4{margin-left:-6.145600px;}
._6{margin-left:-4.288800px;}
._1{margin-left:-2.560000px;}
._2{margin-left:-1.380091px;}
._0{width:1.177600px;}
._7{width:2.576023px;}
._9{width:3.871859px;}
._f{width:5.472000px;}
._a{width:17.331200px;}
._10{width:18.911154px;}
._d{width:20.229506px;}
._5{width:29.016000px;}
._3{width:38.400000px;}
._b{width:103.520000px;}
._8{width:691.702651px;}
.fc6{color:rgb(0,0,0);}
.fc4{color:rgb(91,155,213);}
.fc0{color:rgb(255,255,255);}
.fc1{color:rgb(255,255,0);}
.fc7{color:rgb(153,153,153);}
.fc2{color:rgb(0,173,216);}
.fc5{color:rgb(255,0,0);}
.fc3{color:rgb(5,99,193);}
.fs3{font-size:63.999994px;}
.fs4{font-size:72.000000px;}
.fs1{font-size:96.000000px;}
.fs5{font-size:120.000000px;}
.fs2{font-size:127.999968px;}
.fs6{font-size:160.000032px;}
.fs8{font-size:192.000000px;}
.fs0{font-size:256.000032px;}
.fs7{font-size:313.725504px;}
.y0{bottom:0.000000px;}
.y39{bottom:51.840000px;}
.y36{bottom:56.880000px;}
.y3c{bottom:57.600000px;}
.yf{bottom:62.880000px;}
.y38{bottom:66.240000px;}
.y35{bottom:69.360000px;}
.y34{bottom:78.240000px;}
.y3e{bottom:79.200000px;}
.y3b{bottom:82.800000px;}
.y3a{bottom:84.000000px;}
.y2a{bottom:97.440000px;}
.y37{bottom:99.600000px;}
.y16{bottom:105.600000px;}
.y2b{bottom:107.280000px;}
.y14{bottom:110.640000px;}
.y3f{bottom:110.880000px;}
.y18{bottom:111.360000px;}
.y1d{bottom:116.160000px;}
.y17{bottom:124.560000px;}
.y29{bottom:126.480000px;}
.y1a{bottom:127.680000px;}
.y28{bottom:155.520000px;}
.y3d{bottom:158.400000px;}
.y46{bottom:161.520000px;}
.y45{bottom:170.400000px;}
.y27{bottom:183.360000px;}
.y1b{bottom:199.440000px;}
.y9{bottom:210.960000px;}
.y26{bottom:212.400000px;}
.yd{bottom:213.840000px;}
.y2{bottom:216.480000px;}
.y33{bottom:220.560000px;}
.y12{bottom:234.480000px;}
.y19{bottom:235.200000px;}
.y25{bottom:241.440000px;}
.y32{bottom:242.640000px;}
.y8{bottom:246.960000px;}
.y31{bottom:264.720000px;}
.yb{bottom:268.800000px;}
.y24{bottom:270.480000px;}
.y11{bottom:276.720000px;}
.y7{bottom:282.960000px;}
.y1{bottom:285.360000px;}
.y30{bottom:285.600000px;}
.y10{bottom:297.840000px;}
.y23{bottom:299.520000px;}
.y1c{bottom:305.520000px;}
.y2f{bottom:307.680000px;}
.yc{bottom:316.320000px;}
.y6{bottom:318.960000px;}
.y42{bottom:322.800000px;}
.y44{bottom:326.880000px;}
.y22{bottom:327.360000px;}
.y2e{bottom:328.560000px;}
.y2d{bottom:350.640000px;}
.y5{bottom:354.000000px;}
.y21{bottom:356.400000px;}
.y41{bottom:370.800000px;}
.y2c{bottom:372.720000px;}
.y20{bottom:385.440000px;}
.y4{bottom:390.000000px;}
.y43{bottom:411.483120px;}
.y1f{bottom:414.480000px;}
.y3{bottom:418.080000px;}
.y40{bottom:418.800000px;}
.y1e{bottom:443.520000px;}
.ya{bottom:448.320000px;}
.y15{bottom:491.040000px;}
.ye{bottom:498.240000px;}
.y13{bottom:498.720000px;}
.h5{height:43.531246px;}
.h6{height:48.972656px;}
.hb{height:49.218750px;}
.h8{height:51.679688px;}
.h3{height:65.296875px;}
.h2{height:69.890625px;}
.hd{height:85.312479px;}
.h7{height:86.812478px;}
.hc{height:86.999978px;}
.h4{height:87.062478px;}
.he{height:87.363281px;}
.h9{height:87.499978px;}
.ha{height:91.874977px;}
.hf{height:116.484398px;}
.h11{height:129.750000px;}
.h1{height:174.125022px;}
.h10{height:213.541676px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.xc{left:21.694880px;}
.x8{left:25.936380px;}
.x7{left:31.929690px;}
.x23{left:37.054490px;}
.x9{left:41.963540px;}
.x24{left:51.859290px;}
.x2{left:60.143700px;}
.x6{left:65.357400px;}
.x16{left:69.694880px;}
.x21{left:79.706850px;}
.x1c{left:93.974720px;}
.x19{left:98.435590px;}
.xe{left:107.993900px;}
.x26{left:131.325700px;}
.x14{left:138.525200px;}
.x1b{left:164.894000px;}
.x5{left:182.610900px;}
.x3{left:222.999800px;}
.x4{left:239.124800px;}
.x1{left:267.787400px;}
.xf{left:371.783000px;}
.x11{left:405.387900px;}
.xd{left:408.810900px;}
.x10{left:423.202600px;}
.x12{left:430.228800px;}
.x1d{left:447.873200px;}
.x20{left:457.068200px;}
.x18{left:463.246900px;}
.x22{left:468.971600px;}
.x13{left:506.820000px;}
.xb{left:512.577300px;}
.x17{left:523.430600px;}
.x1f{left:530.427700px;}
.x1a{left:538.450600px;}
.xa{left:543.955800px;}
.x1e{left:552.509900px;}
.x15{left:564.757100px;}
.x25{left:706.702600px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls38{letter-spacing:-7.257600pt;}
.ls2d{letter-spacing:-5.097600pt;}
.ls2b{letter-spacing:-4.435200pt;}
.ls18{letter-spacing:-3.618132pt;}
.ls3b{letter-spacing:-3.020799pt;}
.ls15{letter-spacing:-2.525866pt;}
.ls2a{letter-spacing:-2.352000pt;}
.ls12{letter-spacing:-1.977600pt;}
.ls39{letter-spacing:-1.814400pt;}
.ls1f{letter-spacing:-1.604266pt;}
.ls30{letter-spacing:-1.468800pt;}
.ls2e{letter-spacing:-1.420800pt;}
.ls3a{letter-spacing:-1.094400pt;}
.ls20{letter-spacing:-0.739200pt;}
.lsf{letter-spacing:-0.614400pt;}
.ls1b{letter-spacing:-0.345600pt;}
.ls1e{letter-spacing:-0.316800pt;}
.ls7{letter-spacing:-0.294400pt;}
.ls2c{letter-spacing:-0.249600pt;}
.lsd{letter-spacing:-0.238933pt;}
.ls5{letter-spacing:-0.230400pt;}
.ls24{letter-spacing:-0.221867pt;}
.ls1c{letter-spacing:-0.220800pt;}
.ls3{letter-spacing:-0.192000pt;}
.lsc{letter-spacing:-0.187733pt;}
.lsb{letter-spacing:-0.182400pt;}
.ls4{letter-spacing:-0.179200pt;}
.ls23{letter-spacing:-0.172800pt;}
.ls2f{letter-spacing:-0.163200pt;}
.ls3d{letter-spacing:-0.089600pt;}
.ls37{letter-spacing:-0.067200pt;}
.ls6{letter-spacing:-0.064000pt;}
.ls36{letter-spacing:-0.051200pt;}
.lse{letter-spacing:-0.034133pt;}
.ls1d{letter-spacing:-0.019200pt;}
.ls35{letter-spacing:-0.009600pt;}
.ls0{letter-spacing:0.000000pt;}
.ls16{letter-spacing:0.017067pt;}
.ls13{letter-spacing:0.019200pt;}
.ls2{letter-spacing:0.025600pt;}
.ls32{letter-spacing:0.051200pt;}
.ls26{letter-spacing:0.057600pt;}
.ls14{letter-spacing:0.067200pt;}
.ls28{letter-spacing:0.076800pt;}
.ls21{letter-spacing:0.085333pt;}
.ls1{letter-spacing:0.102400pt;}
.ls22{letter-spacing:0.136533pt;}
.lsa{letter-spacing:0.162133pt;}
.ls25{letter-spacing:0.166400pt;}
.ls29{letter-spacing:0.172800pt;}
.ls1a{letter-spacing:0.192000pt;}
.ls17{letter-spacing:0.204800pt;}
.ls9{letter-spacing:0.247467pt;}
.ls27{letter-spacing:0.249600pt;}
.ls8{letter-spacing:0.256000pt;}
.ls10{letter-spacing:0.268800pt;}
.ls11{letter-spacing:0.278400pt;}
.ls34{letter-spacing:0.307200pt;}
.ls33{letter-spacing:0.324267pt;}
.ls31{letter-spacing:0.375467pt;}
.ls19{letter-spacing:0.392533pt;}
.ls3c{letter-spacing:0.585621pt;}
.ws0{word-spacing:0.000000pt;}
._e{margin-left:-3836.067276pt;}
._11{margin-left:-2445.662278pt;}
._c{margin-left:-9.651505pt;}
._4{margin-left:-8.194134pt;}
._6{margin-left:-5.718400pt;}
._1{margin-left:-3.413334pt;}
._2{margin-left:-1.840122pt;}
._0{width:1.570134pt;}
._7{width:3.434697pt;}
._9{width:5.162478pt;}
._f{width:7.296000pt;}
._a{width:23.108267pt;}
._10{width:25.214872pt;}
._d{width:26.972674pt;}
._5{width:38.688000pt;}
._3{width:51.200000pt;}
._b{width:138.026667pt;}
._8{width:922.270202pt;}
.fs3{font-size:85.333325pt;}
.fs4{font-size:96.000000pt;}
.fs1{font-size:128.000000pt;}
.fs5{font-size:160.000000pt;}
.fs2{font-size:170.666624pt;}
.fs6{font-size:213.333376pt;}
.fs8{font-size:256.000000pt;}
.fs0{font-size:341.333376pt;}
.fs7{font-size:418.300672pt;}
.y0{bottom:0.000000pt;}
.y39{bottom:69.120000pt;}
.y36{bottom:75.840000pt;}
.y3c{bottom:76.800000pt;}
.yf{bottom:83.840000pt;}
.y38{bottom:88.320000pt;}
.y35{bottom:92.480000pt;}
.y34{bottom:104.320000pt;}
.y3e{bottom:105.600000pt;}
.y3b{bottom:110.400000pt;}
.y3a{bottom:112.000000pt;}
.y2a{bottom:129.920000pt;}
.y37{bottom:132.800000pt;}
.y16{bottom:140.800000pt;}
.y2b{bottom:143.040000pt;}
.y14{bottom:147.520000pt;}
.y3f{bottom:147.840000pt;}
.y18{bottom:148.480000pt;}
.y1d{bottom:154.880000pt;}
.y17{bottom:166.080000pt;}
.y29{bottom:168.640000pt;}
.y1a{bottom:170.240000pt;}
.y28{bottom:207.360000pt;}
.y3d{bottom:211.200000pt;}
.y46{bottom:215.360000pt;}
.y45{bottom:227.200000pt;}
.y27{bottom:244.480000pt;}
.y1b{bottom:265.920000pt;}
.y9{bottom:281.280000pt;}
.y26{bottom:283.200000pt;}
.yd{bottom:285.120000pt;}
.y2{bottom:288.640000pt;}
.y33{bottom:294.080000pt;}
.y12{bottom:312.640000pt;}
.y19{bottom:313.600000pt;}
.y25{bottom:321.920000pt;}
.y32{bottom:323.520000pt;}
.y8{bottom:329.280000pt;}
.y31{bottom:352.960000pt;}
.yb{bottom:358.400000pt;}
.y24{bottom:360.640000pt;}
.y11{bottom:368.960000pt;}
.y7{bottom:377.280000pt;}
.y1{bottom:380.480000pt;}
.y30{bottom:380.800000pt;}
.y10{bottom:397.120000pt;}
.y23{bottom:399.360000pt;}
.y1c{bottom:407.360000pt;}
.y2f{bottom:410.240000pt;}
.yc{bottom:421.760000pt;}
.y6{bottom:425.280000pt;}
.y42{bottom:430.400000pt;}
.y44{bottom:435.840000pt;}
.y22{bottom:436.480000pt;}
.y2e{bottom:438.080000pt;}
.y2d{bottom:467.520000pt;}
.y5{bottom:472.000000pt;}
.y21{bottom:475.200000pt;}
.y41{bottom:494.400000pt;}
.y2c{bottom:496.960000pt;}
.y20{bottom:513.920000pt;}
.y4{bottom:520.000000pt;}
.y43{bottom:548.644160pt;}
.y1f{bottom:552.640000pt;}
.y3{bottom:557.440000pt;}
.y40{bottom:558.400000pt;}
.y1e{bottom:591.360000pt;}
.ya{bottom:597.760000pt;}
.y15{bottom:654.720000pt;}
.ye{bottom:664.320000pt;}
.y13{bottom:664.960000pt;}
.h5{height:58.041661pt;}
.h6{height:65.296875pt;}
.hb{height:65.625000pt;}
.h8{height:68.906250pt;}
.h3{height:87.062500pt;}
.h2{height:93.187500pt;}
.hd{height:113.749972pt;}
.h7{height:115.749971pt;}
.hc{height:115.999971pt;}
.h4{height:116.083304pt;}
.he{height:116.484375pt;}
.h9{height:116.666638pt;}
.ha{height:122.499969pt;}
.hf{height:155.312531pt;}
.h11{height:173.000000pt;}
.h1{height:232.166696pt;}
.h10{height:284.722235pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.xc{left:28.926507pt;}
.x8{left:34.581840pt;}
.x7{left:42.572920pt;}
.x23{left:49.405987pt;}
.x9{left:55.951387pt;}
.x24{left:69.145720pt;}
.x2{left:80.191600pt;}
.x6{left:87.143200pt;}
.x16{left:92.926507pt;}
.x21{left:106.275800pt;}
.x1c{left:125.299627pt;}
.x19{left:131.247453pt;}
.xe{left:143.991867pt;}
.x26{left:175.100933pt;}
.x14{left:184.700267pt;}
.x1b{left:219.858667pt;}
.x5{left:243.481200pt;}
.x3{left:297.333067pt;}
.x4{left:318.833067pt;}
.x1{left:357.049867pt;}
.xf{left:495.710667pt;}
.x11{left:540.517200pt;}
.xd{left:545.081200pt;}
.x10{left:564.270133pt;}
.x12{left:573.638400pt;}
.x1d{left:597.164267pt;}
.x20{left:609.424267pt;}
.x18{left:617.662533pt;}
.x22{left:625.295467pt;}
.x13{left:675.760000pt;}
.xb{left:683.436400pt;}
.x17{left:697.907467pt;}
.x1f{left:707.236933pt;}
.x1a{left:717.934133pt;}
.xa{left:725.274400pt;}
.x1e{left:736.679867pt;}
.x15{left:753.009467pt;}
.x25{left:942.270133pt;}
}
