.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.857910;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.926758;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.858398;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffa;src:url(fa.woff)format("woff");}.ffa{font-family:ffa;line-height:0.690918;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffb;src:url(fb.woff)format("woff");}.ffb{font-family:ffb;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffc;src:url(fc.woff)format("woff");}.ffc{font-family:ffc;line-height:0.844238;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffd;src:url(fd.woff)format("woff");}.ffd{font-family:ffd;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffe;src:url(fe.woff)format("woff");}.ffe{font-family:ffe;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:fff;src:url(ff.woff)format("woff");}.fff{font-family:fff;line-height:0.689453;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff10;src:url(f10.woff)format("woff");}.ff10{font-family:ff10;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff11;src:url(f11.woff)format("woff");}.ff11{font-family:ff11;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff12;src:url(f12.woff)format("woff");}.ff12{font-family:ff12;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff13;src:url(f13.woff)format("woff");}.ff13{font-family:ff13;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff14;src:url(f14.woff)format("woff");}.ff14{font-family:ff14;line-height:0.860840;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff15;src:url(f15.woff)format("woff");}.ff15{font-family:ff15;line-height:0.857910;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff16;src:url(f16.woff)format("woff");}.ff16{font-family:ff16;line-height:0.860840;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff17;src:url(f17.woff)format("woff");}.ff17{font-family:ff17;line-height:0.857910;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff18;src:url(f18.woff)format("woff");}.ff18{font-family:ff18;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff19;src:url(f19.woff)format("woff");}.ff19{font-family:ff19;line-height:0.692871;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff1a;src:url(f1a.woff)format("woff");}.ff1a{font-family:ff1a;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff1b;src:url(f1b.woff)format("woff");}.ff1b{font-family:ff1b;line-height:0.688965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff1c;src:url(f1c.woff)format("woff");}.ff1c{font-family:ff1c;line-height:0.853027;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff1d;src:url(f1d.woff)format("woff");}.ff1d{font-family:ff1d;line-height:0.858398;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m2{transform:matrix(0.255000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.255000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.255000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.lsc{letter-spacing:-7.193598px;}
.ls19{letter-spacing:-2.931199px;}
.ls24{letter-spacing:-2.265599px;}
.ls10{letter-spacing:-2.105601px;}
.ls17{letter-spacing:-1.740800px;}
.lse{letter-spacing:-0.795200px;}
.ls1a{letter-spacing:-0.705600px;}
.ls12{letter-spacing:-0.460800px;}
.ls23{letter-spacing:-0.448000px;}
.ls1c{letter-spacing:-0.230400px;}
.ls7{letter-spacing:-0.220800px;}
.ls1b{letter-spacing:-0.208800px;}
.ls15{letter-spacing:-0.187200px;}
.ls5{letter-spacing:-0.172800px;}
.ls21{letter-spacing:-0.165600px;}
.ls3{letter-spacing:-0.144000px;}
.ls1f{letter-spacing:-0.140800px;}
.lsb{letter-spacing:-0.136800px;}
.ls4{letter-spacing:-0.134400px;}
.ls16{letter-spacing:-0.129600px;}
.ls27{letter-spacing:-0.067200px;}
.ls6{letter-spacing:-0.048000px;}
.ls26{letter-spacing:-0.038400px;}
.ls11{letter-spacing:-0.014400px;}
.ls0{letter-spacing:0.000000px;}
.ls1e{letter-spacing:0.014400px;}
.ls2{letter-spacing:0.019200px;}
.ls1d{letter-spacing:0.043200px;}
.ls1{letter-spacing:0.076800px;}
.lsa{letter-spacing:0.121600px;}
.ls9{letter-spacing:0.185600px;}
.ls8{letter-spacing:0.192000px;}
.ls13{letter-spacing:0.201600px;}
.ls14{letter-spacing:0.208800px;}
.lsf{letter-spacing:0.224000px;}
.ls18{letter-spacing:0.243200px;}
.ls22{letter-spacing:0.281600px;}
.ls20{letter-spacing:0.294400px;}
.ls25{letter-spacing:0.439216px;}
.lsd{letter-spacing:5.163201px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._10{margin-left:-1834.246708px;}
._3{margin-left:-6.758400px;}
._8{margin-left:-5.264002px;}
._9{margin-left:-4.179205px;}
._1{margin-left:-2.560000px;}
._2{margin-left:-1.380091px;}
._0{width:1.177600px;}
._a{width:2.724723px;}
._e{width:4.022552px;}
._7{width:6.399998px;}
._6{width:7.423998px;}
._c{width:16.500000px;}
._5{width:29.016000px;}
._4{width:38.400000px;}
._f{width:103.519960px;}
._d{width:186.991954px;}
._b{width:549.865593px;}
.fc5{color:rgb(255,0,0);}
.fc4{color:rgb(5,99,193);}
.fc0{color:rgb(255,255,255);}
.fc1{color:rgb(255,255,0);}
.fc3{color:rgb(0,0,0);}
.fc6{color:rgb(153,153,153);}
.fc2{color:rgb(0,173,216);}
.fsa{font-size:28.000003px;}
.fs9{font-size:39.999994px;}
.fs6{font-size:55.999997px;}
.fs3{font-size:63.999994px;}
.fs4{font-size:72.000000px;}
.fs1{font-size:96.000000px;}
.fs5{font-size:112.000032px;}
.fs7{font-size:120.000000px;}
.fs2{font-size:127.999968px;}
.fs8{font-size:160.000032px;}
.fsc{font-size:192.000000px;}
.fs0{font-size:256.000032px;}
.fsb{font-size:313.725504px;}
.y0{bottom:0.000000px;}
.y1c{bottom:60.240000px;}
.y1e{bottom:70.320000px;}
.y1f{bottom:86.400000px;}
.y15{bottom:92.640000px;}
.y23{bottom:94.800000px;}
.y19{bottom:98.640000px;}
.y22{bottom:115.680000px;}
.y21{bottom:123.840000px;}
.y17{bottom:145.680000px;}
.y16{bottom:151.200000px;}
.y24{bottom:155.280000px;}
.y31{bottom:161.520000px;}
.y30{bottom:170.400000px;}
.y29{bottom:171.600000px;}
.y2a{bottom:174.480000px;}
.y27{bottom:183.600000px;}
.y25{bottom:199.920000px;}
.y26{bottom:204.720000px;}
.y9{bottom:210.960000px;}
.yd{bottom:213.840000px;}
.y2{bottom:216.480000px;}
.y1b{bottom:234.480000px;}
.y8{bottom:246.960000px;}
.y11{bottom:247.920000px;}
.yb{bottom:268.800000px;}
.y1d{bottom:276.240000px;}
.y10{bottom:280.800000px;}
.y7{bottom:282.960000px;}
.y1{bottom:285.360000px;}
.yf{bottom:314.880000px;}
.yc{bottom:316.320000px;}
.y6{bottom:318.960000px;}
.y2d{bottom:322.800000px;}
.y2f{bottom:326.880000px;}
.y5{bottom:354.000000px;}
.y2c{bottom:370.800000px;}
.y2b{bottom:377.280000px;}
.y28{bottom:378.960000px;}
.y4{bottom:390.000000px;}
.y2e{bottom:411.483120px;}
.y14{bottom:412.800000px;}
.y3{bottom:418.080000px;}
.y20{bottom:418.800000px;}
.y13{bottom:434.880000px;}
.ya{bottom:448.320000px;}
.y12{bottom:456.000000px;}
.y1a{bottom:489.360000px;}
.ye{bottom:492.480000px;}
.y18{bottom:498.720000px;}
.h13{height:20.097659px;}
.h11{height:27.207027px;}
.h12{height:28.710933px;}
.h5{height:43.531246px;}
.h6{height:48.972656px;}
.h10{height:49.218750px;}
.ha{height:51.679688px;}
.he{height:52.417969px;}
.h3{height:65.296875px;}
.h2{height:69.890625px;}
.hc{height:72.000000px;}
.h8{height:76.562522px;}
.hd{height:85.312479px;}
.hb{height:86.999978px;}
.h4{height:87.062478px;}
.h7{height:87.499978px;}
.h9{height:91.874977px;}
.hf{height:116.484398px;}
.h15{height:129.750000px;}
.h1{height:174.125022px;}
.h14{height:213.541676px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.xe{left:21.694880px;}
.x12{left:26.352200px;}
.x7{left:31.929690px;}
.x10{left:33.054490px;}
.x8{left:34.999130px;}
.x15{left:37.054490px;}
.x21{left:51.859290px;}
.xc{left:53.539290px;}
.x2{left:60.143700px;}
.x6{left:65.357400px;}
.x19{left:81.663340px;}
.x23{left:131.325700px;}
.x9{left:170.854800px;}
.x5{left:182.610900px;}
.x17{left:220.941600px;}
.x3{left:222.999800px;}
.x4{left:239.124800px;}
.xa{left:256.594800px;}
.x1{left:267.787400px;}
.x14{left:274.478700px;}
.xf{left:298.773200px;}
.x13{left:336.614300px;}
.x16{left:429.736600px;}
.x1d{left:432.937900px;}
.x1e{left:438.062900px;}
.x1f{left:445.187900px;}
.x1b{left:449.236000px;}
.xd{left:512.013800px;}
.x20{left:538.564700px;}
.x1c{left:601.636100px;}
.xb{left:645.814700px;}
.x1a{left:671.681000px;}
.x22{left:706.702600px;}
.x18{left:724.128600px;}
.x11{left:761.026100px;}
@media print{
.v0{vertical-align:0.000000pt;}
.lsc{letter-spacing:-9.591464pt;}
.ls19{letter-spacing:-3.908266pt;}
.ls24{letter-spacing:-3.020799pt;}
.ls10{letter-spacing:-2.807467pt;}
.ls17{letter-spacing:-2.321066pt;}
.lse{letter-spacing:-1.060267pt;}
.ls1a{letter-spacing:-0.940800pt;}
.ls12{letter-spacing:-0.614400pt;}
.ls23{letter-spacing:-0.597333pt;}
.ls1c{letter-spacing:-0.307200pt;}
.ls7{letter-spacing:-0.294400pt;}
.ls1b{letter-spacing:-0.278400pt;}
.ls15{letter-spacing:-0.249600pt;}
.ls5{letter-spacing:-0.230400pt;}
.ls21{letter-spacing:-0.220800pt;}
.ls3{letter-spacing:-0.192000pt;}
.ls1f{letter-spacing:-0.187733pt;}
.lsb{letter-spacing:-0.182400pt;}
.ls4{letter-spacing:-0.179200pt;}
.ls16{letter-spacing:-0.172800pt;}
.ls27{letter-spacing:-0.089600pt;}
.ls6{letter-spacing:-0.064000pt;}
.ls26{letter-spacing:-0.051200pt;}
.ls11{letter-spacing:-0.019200pt;}
.ls0{letter-spacing:0.000000pt;}
.ls1e{letter-spacing:0.019200pt;}
.ls2{letter-spacing:0.025600pt;}
.ls1d{letter-spacing:0.057600pt;}
.ls1{letter-spacing:0.102400pt;}
.lsa{letter-spacing:0.162133pt;}
.ls9{letter-spacing:0.247467pt;}
.ls8{letter-spacing:0.256000pt;}
.ls13{letter-spacing:0.268800pt;}
.ls14{letter-spacing:0.278400pt;}
.lsf{letter-spacing:0.298667pt;}
.ls18{letter-spacing:0.324267pt;}
.ls22{letter-spacing:0.375467pt;}
.ls20{letter-spacing:0.392533pt;}
.ls25{letter-spacing:0.585621pt;}
.lsd{letter-spacing:6.884269pt;}
.ws0{word-spacing:0.000000pt;}
._10{margin-left:-2445.662278pt;}
._3{margin-left:-9.011200pt;}
._8{margin-left:-7.018669pt;}
._9{margin-left:-5.572273pt;}
._1{margin-left:-3.413334pt;}
._2{margin-left:-1.840122pt;}
._0{width:1.570134pt;}
._a{width:3.632963pt;}
._e{width:5.363403pt;}
._7{width:8.533331pt;}
._6{width:9.898664pt;}
._c{width:22.000000pt;}
._5{width:38.688000pt;}
._4{width:51.200000pt;}
._f{width:138.026613pt;}
._d{width:249.322606pt;}
._b{width:733.154124pt;}
.fsa{font-size:37.333338pt;}
.fs9{font-size:53.333325pt;}
.fs6{font-size:74.666662pt;}
.fs3{font-size:85.333325pt;}
.fs4{font-size:96.000000pt;}
.fs1{font-size:128.000000pt;}
.fs5{font-size:149.333376pt;}
.fs7{font-size:160.000000pt;}
.fs2{font-size:170.666624pt;}
.fs8{font-size:213.333376pt;}
.fsc{font-size:256.000000pt;}
.fs0{font-size:341.333376pt;}
.fsb{font-size:418.300672pt;}
.y0{bottom:0.000000pt;}
.y1c{bottom:80.320000pt;}
.y1e{bottom:93.760000pt;}
.y1f{bottom:115.200000pt;}
.y15{bottom:123.520000pt;}
.y23{bottom:126.400000pt;}
.y19{bottom:131.520000pt;}
.y22{bottom:154.240000pt;}
.y21{bottom:165.120000pt;}
.y17{bottom:194.240000pt;}
.y16{bottom:201.600000pt;}
.y24{bottom:207.040000pt;}
.y31{bottom:215.360000pt;}
.y30{bottom:227.200000pt;}
.y29{bottom:228.800000pt;}
.y2a{bottom:232.640000pt;}
.y27{bottom:244.800000pt;}
.y25{bottom:266.560000pt;}
.y26{bottom:272.960000pt;}
.y9{bottom:281.280000pt;}
.yd{bottom:285.120000pt;}
.y2{bottom:288.640000pt;}
.y1b{bottom:312.640000pt;}
.y8{bottom:329.280000pt;}
.y11{bottom:330.560000pt;}
.yb{bottom:358.400000pt;}
.y1d{bottom:368.320000pt;}
.y10{bottom:374.400000pt;}
.y7{bottom:377.280000pt;}
.y1{bottom:380.480000pt;}
.yf{bottom:419.840000pt;}
.yc{bottom:421.760000pt;}
.y6{bottom:425.280000pt;}
.y2d{bottom:430.400000pt;}
.y2f{bottom:435.840000pt;}
.y5{bottom:472.000000pt;}
.y2c{bottom:494.400000pt;}
.y2b{bottom:503.040000pt;}
.y28{bottom:505.280000pt;}
.y4{bottom:520.000000pt;}
.y2e{bottom:548.644160pt;}
.y14{bottom:550.400000pt;}
.y3{bottom:557.440000pt;}
.y20{bottom:558.400000pt;}
.y13{bottom:579.840000pt;}
.ya{bottom:597.760000pt;}
.y12{bottom:608.000000pt;}
.y1a{bottom:652.480000pt;}
.ye{bottom:656.640000pt;}
.y18{bottom:664.960000pt;}
.h13{height:26.796878pt;}
.h11{height:36.276036pt;}
.h12{height:38.281244pt;}
.h5{height:58.041661pt;}
.h6{height:65.296875pt;}
.h10{height:65.625000pt;}
.ha{height:68.906250pt;}
.he{height:69.890625pt;}
.h3{height:87.062500pt;}
.h2{height:93.187500pt;}
.hc{height:96.000000pt;}
.h8{height:102.083362pt;}
.hd{height:113.749972pt;}
.hb{height:115.999971pt;}
.h4{height:116.083304pt;}
.h7{height:116.666638pt;}
.h9{height:122.499969pt;}
.hf{height:155.312531pt;}
.h15{height:173.000000pt;}
.h1{height:232.166696pt;}
.h14{height:284.722235pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.xe{left:28.926507pt;}
.x12{left:35.136267pt;}
.x7{left:42.572920pt;}
.x10{left:44.072653pt;}
.x8{left:46.665507pt;}
.x15{left:49.405987pt;}
.x21{left:69.145720pt;}
.xc{left:71.385720pt;}
.x2{left:80.191600pt;}
.x6{left:87.143200pt;}
.x19{left:108.884453pt;}
.x23{left:175.100933pt;}
.x9{left:227.806400pt;}
.x5{left:243.481200pt;}
.x17{left:294.588800pt;}
.x3{left:297.333067pt;}
.x4{left:318.833067pt;}
.xa{left:342.126400pt;}
.x1{left:357.049867pt;}
.x14{left:365.971600pt;}
.xf{left:398.364267pt;}
.x13{left:448.819067pt;}
.x16{left:572.982133pt;}
.x1d{left:577.250533pt;}
.x1e{left:584.083867pt;}
.x1f{left:593.583867pt;}
.x1b{left:598.981333pt;}
.xd{left:682.685067pt;}
.x20{left:718.086267pt;}
.x1c{left:802.181467pt;}
.xb{left:861.086267pt;}
.x1a{left:895.574667pt;}
.x22{left:942.270133pt;}
.x18{left:965.504800pt;}
.x11{left:1014.701467pt;}
}
