.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.857910;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.858398;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.694824;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:0.858398;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffa;src:url(fa.woff)format("woff");}.ffa{font-family:ffa;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffb;src:url(fb.woff)format("woff");}.ffb{font-family:ffb;line-height:0.858398;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffc;src:url(fc.woff)format("woff");}.ffc{font-family:ffc;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffd;src:url(fd.woff)format("woff");}.ffd{font-family:ffd;line-height:0.858398;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffe;src:url(fe.woff)format("woff");}.ffe{font-family:ffe;line-height:0.857910;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:fff;src:url(ff.woff)format("woff");}.fff{font-family:fff;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff10;src:url(f10.woff)format("woff");}.ff10{font-family:ff10;line-height:0.858398;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff11;src:url(f11.woff)format("woff");}.ff11{font-family:ff11;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff12;src:url(f12.woff)format("woff");}.ff12{font-family:ff12;line-height:0.858398;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff13;src:url(f13.woff)format("woff");}.ff13{font-family:ff13;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff14;src:url(f14.woff)format("woff");}.ff14{font-family:ff14;line-height:0.858398;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff15;src:url(f15.woff)format("woff");}.ff15{font-family:ff15;line-height:0.868164;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff16;src:url(f16.woff)format("woff");}.ff16{font-family:ff16;line-height:0.858398;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff17;src:url(f17.woff)format("woff");}.ff17{font-family:ff17;line-height:0.926270;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff18;src:url(f18.woff)format("woff");}.ff18{font-family:ff18;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff19;src:url(f19.woff)format("woff");}.ff19{font-family:ff19;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff1a;src:url(f1a.woff)format("woff");}.ff1a{font-family:ff1a;line-height:0.858398;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff1b;src:url(f1b.woff)format("woff");}.ff1b{font-family:ff1b;line-height:0.858398;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff1c;src:url(f1c.woff)format("woff");}.ff1c{font-family:ff1c;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff1d;src:url(f1d.woff)format("woff");}.ff1d{font-family:ff1d;line-height:0.858398;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff1e;src:url(f1e.woff)format("woff");}.ff1e{font-family:ff1e;line-height:0.858398;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff1f;src:url(f1f.woff)format("woff");}.ff1f{font-family:ff1f;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff20;src:url(f20.woff)format("woff");}.ff20{font-family:ff20;line-height:0.858398;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff21;src:url(f21.woff)format("woff");}.ff21{font-family:ff21;line-height:0.926270;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff22;src:url(f22.woff)format("woff");}.ff22{font-family:ff22;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff23;src:url(f23.woff)format("woff");}.ff23{font-family:ff23;line-height:0.858398;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff24;src:url(f24.woff)format("woff");}.ff24{font-family:ff24;line-height:0.914551;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff25;src:url(f25.woff)format("woff");}.ff25{font-family:ff25;line-height:0.858398;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff26;src:url(f26.woff)format("woff");}.ff26{font-family:ff26;line-height:0.858398;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff27;src:url(f27.woff)format("woff");}.ff27{font-family:ff27;line-height:0.926270;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff28;src:url(f28.woff)format("woff");}.ff28{font-family:ff28;line-height:0.858398;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff29;src:url(f29.woff)format("woff");}.ff29{font-family:ff29;line-height:0.926270;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2a;src:url(f2a.woff)format("woff");}.ff2a{font-family:ff2a;line-height:0.858398;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2b;src:url(f2b.woff)format("woff");}.ff2b{font-family:ff2b;line-height:0.740723;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2c;src:url(f2c.woff)format("woff");}.ff2c{font-family:ff2c;line-height:0.858398;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2d;src:url(f2d.woff)format("woff");}.ff2d{font-family:ff2d;line-height:0.858398;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2e;src:url(f2e.woff)format("woff");}.ff2e{font-family:ff2e;line-height:0.926758;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2f;src:url(f2f.woff)format("woff");}.ff2f{font-family:ff2f;line-height:0.858398;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff30;src:url(f30.woff)format("woff");}.ff30{font-family:ff30;line-height:0.858398;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff31;src:url(f31.woff)format("woff");}.ff31{font-family:ff31;line-height:0.858398;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff32;src:url(f32.woff)format("woff");}.ff32{font-family:ff32;line-height:0.858398;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff33;src:url(f33.woff)format("woff");}.ff33{font-family:ff33;line-height:0.858398;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff34;src:url(f34.woff)format("woff");}.ff34{font-family:ff34;line-height:0.858398;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff35;src:url(f35.woff)format("woff");}.ff35{font-family:ff35;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff36;src:url(f36.woff)format("woff");}.ff36{font-family:ff36;line-height:0.858398;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff37;src:url(f37.woff)format("woff");}.ff37{font-family:ff37;line-height:0.759766;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff38;src:url(f38.woff)format("woff");}.ff38{font-family:ff38;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff39;src:url(f39.woff)format("woff");}.ff39{font-family:ff39;line-height:0.926270;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3a;src:url(f3a.woff)format("woff");}.ff3a{font-family:ff3a;line-height:0.759766;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3b;src:url(f3b.woff)format("woff");}.ff3b{font-family:ff3b;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3c;src:url(f3c.woff)format("woff");}.ff3c{font-family:ff3c;line-height:0.740234;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3d;src:url(f3d.woff)format("woff");}.ff3d{font-family:ff3d;line-height:0.692871;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3e;src:url(f3e.woff)format("woff");}.ff3e{font-family:ff3e;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3f;src:url(f3f.woff)format("woff");}.ff3f{font-family:ff3f;line-height:0.688965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff40;src:url(f40.woff)format("woff");}.ff40{font-family:ff40;line-height:0.853027;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff41;src:url(f41.woff)format("woff");}.ff41{font-family:ff41;line-height:0.858398;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m2{transform:matrix(0.255000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.255000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.255000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls21{letter-spacing:-2.592001px;}
.ls28{letter-spacing:-2.265599px;}
.ls20{letter-spacing:-1.254400px;}
.ls19{letter-spacing:-0.950400px;}
.ls11{letter-spacing:-0.820800px;}
.ls24{letter-spacing:-0.554400px;}
.ls1a{letter-spacing:-0.410400px;}
.ls1e{letter-spacing:-0.257600px;}
.ls29{letter-spacing:-0.256000px;}
.lsd{letter-spacing:-0.223200px;}
.ls7{letter-spacing:-0.220800px;}
.ls1f{letter-spacing:-0.190400px;}
.ls1b{letter-spacing:-0.180000px;}
.ls5{letter-spacing:-0.172800px;}
.ls18{letter-spacing:-0.151200px;}
.ls3{letter-spacing:-0.144000px;}
.lsb{letter-spacing:-0.136800px;}
.ls4{letter-spacing:-0.134400px;}
.ls2d{letter-spacing:-0.067200px;}
.ls17{letter-spacing:-0.064800px;}
.ls16{letter-spacing:-0.057600px;}
.ls6{letter-spacing:-0.048000px;}
.ls2c{letter-spacing:-0.038400px;}
.ls25{letter-spacing:-0.028800px;}
.ls27{letter-spacing:-0.016000px;}
.ls0{letter-spacing:0.000000px;}
.ls10{letter-spacing:0.014400px;}
.ls2a{letter-spacing:0.016000px;}
.ls2{letter-spacing:0.019200px;}
.ls22{letter-spacing:0.048000px;}
.ls26{letter-spacing:0.057600px;}
.ls14{letter-spacing:0.064000px;}
.lse{letter-spacing:0.064800px;}
.ls15{letter-spacing:0.072000px;}
.ls1{letter-spacing:0.076800px;}
.lsa{letter-spacing:0.121600px;}
.lsf{letter-spacing:0.144000px;}
.ls9{letter-spacing:0.185600px;}
.ls8{letter-spacing:0.192000px;}
.ls23{letter-spacing:0.224000px;}
.lsc{letter-spacing:0.230400px;}
.ls1d{letter-spacing:0.243200px;}
.ls12{letter-spacing:0.244800px;}
.ls13{letter-spacing:0.273600px;}
.ls1c{letter-spacing:0.294400px;}
.ls2b{letter-spacing:0.439216px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._10{margin-left:-1834.246708px;}
._b{margin-left:-18.240004px;}
._9{margin-left:-12.000002px;}
._4{margin-left:-6.145600px;}
._a{margin-left:-4.379910px;}
._1{margin-left:-2.560000px;}
._2{margin-left:-1.380091px;}
._0{width:1.177600px;}
._7{width:2.278399px;}
._8{width:3.344896px;}
._6{width:26.495099px;}
._5{width:29.016000px;}
._3{width:38.400000px;}
._c{width:44.467929px;}
._d{width:103.519960px;}
._f{width:107.519960px;}
._e{width:152.020000px;}
.fc6{color:rgb(5,99,193);}
.fc4{color:rgb(255,0,0);}
.fc0{color:rgb(255,255,255);}
.fc7{color:rgb(0,0,255);}
.fc1{color:rgb(255,255,0);}
.fc3{color:rgb(0,0,0);}
.fc5{color:rgb(153,153,153);}
.fc2{color:rgb(0,173,216);}
.fs3{font-size:63.999994px;}
.fs4{font-size:72.000000px;}
.fs1{font-size:96.000000px;}
.fs7{font-size:112.000032px;}
.fs9{font-size:120.000000px;}
.fs2{font-size:127.999968px;}
.fs5{font-size:144.000000px;}
.fs6{font-size:160.000032px;}
.fs8{font-size:192.000000px;}
.fs0{font-size:256.000032px;}
.fsa{font-size:313.725504px;}
.y0{bottom:0.000000px;}
.y3e{bottom:70.800000px;}
.y1c{bottom:84.240000px;}
.y12{bottom:88.800000px;}
.y16{bottom:98.160000px;}
.y34{bottom:100.560000px;}
.y11{bottom:105.600000px;}
.y20{bottom:114.720000px;}
.y3d{bottom:118.800000px;}
.y33{bottom:122.400000px;}
.y10{bottom:127.440000px;}
.y1f{bottom:136.560000px;}
.y32{bottom:144.480000px;}
.yf{bottom:148.560000px;}
.y1e{bottom:158.640000px;}
.y42{bottom:161.520000px;}
.y31{bottom:165.360000px;}
.y41{bottom:170.400000px;}
.y3c{bottom:172.800000px;}
.y14{bottom:173.280000px;}
.y1d{bottom:179.520000px;}
.y1b{bottom:195.120000px;}
.y13{bottom:195.360000px;}
.y9{bottom:210.960000px;}
.yd{bottom:213.840000px;}
.y37{bottom:214.800000px;}
.y2{bottom:216.480000px;}
.y3b{bottom:226.800000px;}
.y22{bottom:229.680000px;}
.y2c{bottom:232.800000px;}
.y1a{bottom:243.120000px;}
.y8{bottom:246.960000px;}
.y2e{bottom:248.400000px;}
.y2a{bottom:254.400000px;}
.y30{bottom:254.880000px;}
.y24{bottom:263.520000px;}
.yb{bottom:268.800000px;}
.y28{bottom:270.240000px;}
.y35{bottom:274.800000px;}
.y26{bottom:276.480000px;}
.y36{bottom:281.040000px;}
.y7{bottom:282.960000px;}
.y1{bottom:285.360000px;}
.y19{bottom:291.120000px;}
.y21{bottom:295.920000px;}
.y2b{bottom:308.640000px;}
.y2d{bottom:314.640000px;}
.yc{bottom:316.320000px;}
.y6{bottom:318.960000px;}
.y2f{bottom:321.120000px;}
.y3a{bottom:322.800000px;}
.y29{bottom:325.440000px;}
.y25{bottom:325.680000px;}
.y40{bottom:326.880000px;}
.y23{bottom:338.160000px;}
.y18{bottom:339.120000px;}
.y27{bottom:339.840000px;}
.y5{bottom:354.000000px;}
.y39{bottom:370.800000px;}
.y17{bottom:387.120000px;}
.y4{bottom:390.000000px;}
.y3f{bottom:411.483120px;}
.y3{bottom:418.080000px;}
.y38{bottom:418.800000px;}
.ya{bottom:448.320000px;}
.ye{bottom:492.480000px;}
.y15{bottom:498.720000px;}
.h5{height:43.531246px;}
.h6{height:48.972656px;}
.h8{height:49.218750px;}
.h3{height:65.296875px;}
.h2{height:69.890625px;}
.hc{height:77.382835px;}
.h12{height:85.312479px;}
.h4{height:87.062478px;}
.h7{height:87.499978px;}
.hb{height:97.875000px;}
.h9{height:98.437500px;}
.hf{height:108.828147px;}
.he{height:109.375022px;}
.h10{height:114.531273px;}
.ha{height:116.484398px;}
.h11{height:116.562523px;}
.h14{height:129.750000px;}
.hd{height:137.437500px;}
.h1{height:174.125022px;}
.h13{height:213.541676px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.xc{left:21.694880px;}
.x7{left:31.929690px;}
.x30{left:33.054490px;}
.x8{left:34.999130px;}
.x2e{left:37.054490px;}
.x31{left:51.859290px;}
.xf{left:54.333030px;}
.x2{left:60.143700px;}
.x6{left:65.357400px;}
.x10{left:77.283030px;}
.x2f{left:81.054480px;}
.xe{left:83.973030px;}
.x33{left:131.325700px;}
.x28{left:162.293500px;}
.x5{left:182.610900px;}
.x19{left:185.222700px;}
.x21{left:186.744500px;}
.x23{left:190.741800px;}
.x2d{left:194.872300px;}
.x27{left:197.576100px;}
.x11{left:207.408000px;}
.xa{left:216.134900px;}
.xd{left:221.205300px;}
.x3{left:222.999800px;}
.x16{left:235.184900px;}
.x4{left:239.124800px;}
.x15{left:247.639900px;}
.x1{left:267.787400px;}
.x1b{left:280.459100px;}
.x2b{left:290.853200px;}
.x14{left:293.004900px;}
.x13{left:294.840400px;}
.x1d{left:305.810200px;}
.x17{left:307.529900px;}
.x1f{left:317.347000px;}
.x12{left:334.848000px;}
.x1e{left:350.896600px;}
.x1c{left:362.017100px;}
.x2a{left:366.315700px;}
.x29{left:370.804500px;}
.x24{left:372.573700px;}
.x20{left:385.592600px;}
.x26{left:390.926100px;}
.x18{left:395.910300px;}
.x22{left:398.114300px;}
.x2c{left:402.884800px;}
.x1a{left:407.758100px;}
.x25{left:437.554500px;}
.xb{left:556.837800px;}
.x9{left:661.707300px;}
.x32{left:706.702600px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls21{letter-spacing:-3.456001pt;}
.ls28{letter-spacing:-3.020799pt;}
.ls20{letter-spacing:-1.672533pt;}
.ls19{letter-spacing:-1.267200pt;}
.ls11{letter-spacing:-1.094400pt;}
.ls24{letter-spacing:-0.739200pt;}
.ls1a{letter-spacing:-0.547200pt;}
.ls1e{letter-spacing:-0.343467pt;}
.ls29{letter-spacing:-0.341333pt;}
.lsd{letter-spacing:-0.297600pt;}
.ls7{letter-spacing:-0.294400pt;}
.ls1f{letter-spacing:-0.253867pt;}
.ls1b{letter-spacing:-0.240000pt;}
.ls5{letter-spacing:-0.230400pt;}
.ls18{letter-spacing:-0.201600pt;}
.ls3{letter-spacing:-0.192000pt;}
.lsb{letter-spacing:-0.182400pt;}
.ls4{letter-spacing:-0.179200pt;}
.ls2d{letter-spacing:-0.089600pt;}
.ls17{letter-spacing:-0.086400pt;}
.ls16{letter-spacing:-0.076800pt;}
.ls6{letter-spacing:-0.064000pt;}
.ls2c{letter-spacing:-0.051200pt;}
.ls25{letter-spacing:-0.038400pt;}
.ls27{letter-spacing:-0.021333pt;}
.ls0{letter-spacing:0.000000pt;}
.ls10{letter-spacing:0.019200pt;}
.ls2a{letter-spacing:0.021333pt;}
.ls2{letter-spacing:0.025600pt;}
.ls22{letter-spacing:0.064000pt;}
.ls26{letter-spacing:0.076800pt;}
.ls14{letter-spacing:0.085333pt;}
.lse{letter-spacing:0.086400pt;}
.ls15{letter-spacing:0.096000pt;}
.ls1{letter-spacing:0.102400pt;}
.lsa{letter-spacing:0.162133pt;}
.lsf{letter-spacing:0.192000pt;}
.ls9{letter-spacing:0.247467pt;}
.ls8{letter-spacing:0.256000pt;}
.ls23{letter-spacing:0.298667pt;}
.lsc{letter-spacing:0.307200pt;}
.ls1d{letter-spacing:0.324267pt;}
.ls12{letter-spacing:0.326400pt;}
.ls13{letter-spacing:0.364800pt;}
.ls1c{letter-spacing:0.392533pt;}
.ls2b{letter-spacing:0.585621pt;}
.ws0{word-spacing:0.000000pt;}
._10{margin-left:-2445.662278pt;}
._b{margin-left:-24.320005pt;}
._9{margin-left:-16.000003pt;}
._4{margin-left:-8.194134pt;}
._a{margin-left:-5.839880pt;}
._1{margin-left:-3.413334pt;}
._2{margin-left:-1.840122pt;}
._0{width:1.570134pt;}
._7{width:3.037865pt;}
._8{width:4.459862pt;}
._6{width:35.326799pt;}
._5{width:38.688000pt;}
._3{width:51.200000pt;}
._c{width:59.290572pt;}
._d{width:138.026613pt;}
._f{width:143.359947pt;}
._e{width:202.693333pt;}
.fs3{font-size:85.333325pt;}
.fs4{font-size:96.000000pt;}
.fs1{font-size:128.000000pt;}
.fs7{font-size:149.333376pt;}
.fs9{font-size:160.000000pt;}
.fs2{font-size:170.666624pt;}
.fs5{font-size:192.000000pt;}
.fs6{font-size:213.333376pt;}
.fs8{font-size:256.000000pt;}
.fs0{font-size:341.333376pt;}
.fsa{font-size:418.300672pt;}
.y0{bottom:0.000000pt;}
.y3e{bottom:94.400000pt;}
.y1c{bottom:112.320000pt;}
.y12{bottom:118.400000pt;}
.y16{bottom:130.880000pt;}
.y34{bottom:134.080000pt;}
.y11{bottom:140.800000pt;}
.y20{bottom:152.960000pt;}
.y3d{bottom:158.400000pt;}
.y33{bottom:163.200000pt;}
.y10{bottom:169.920000pt;}
.y1f{bottom:182.080000pt;}
.y32{bottom:192.640000pt;}
.yf{bottom:198.080000pt;}
.y1e{bottom:211.520000pt;}
.y42{bottom:215.360000pt;}
.y31{bottom:220.480000pt;}
.y41{bottom:227.200000pt;}
.y3c{bottom:230.400000pt;}
.y14{bottom:231.040000pt;}
.y1d{bottom:239.360000pt;}
.y1b{bottom:260.160000pt;}
.y13{bottom:260.480000pt;}
.y9{bottom:281.280000pt;}
.yd{bottom:285.120000pt;}
.y37{bottom:286.400000pt;}
.y2{bottom:288.640000pt;}
.y3b{bottom:302.400000pt;}
.y22{bottom:306.240000pt;}
.y2c{bottom:310.400000pt;}
.y1a{bottom:324.160000pt;}
.y8{bottom:329.280000pt;}
.y2e{bottom:331.200000pt;}
.y2a{bottom:339.200000pt;}
.y30{bottom:339.840000pt;}
.y24{bottom:351.360000pt;}
.yb{bottom:358.400000pt;}
.y28{bottom:360.320000pt;}
.y35{bottom:366.400000pt;}
.y26{bottom:368.640000pt;}
.y36{bottom:374.720000pt;}
.y7{bottom:377.280000pt;}
.y1{bottom:380.480000pt;}
.y19{bottom:388.160000pt;}
.y21{bottom:394.560000pt;}
.y2b{bottom:411.520000pt;}
.y2d{bottom:419.520000pt;}
.yc{bottom:421.760000pt;}
.y6{bottom:425.280000pt;}
.y2f{bottom:428.160000pt;}
.y3a{bottom:430.400000pt;}
.y29{bottom:433.920000pt;}
.y25{bottom:434.240000pt;}
.y40{bottom:435.840000pt;}
.y23{bottom:450.880000pt;}
.y18{bottom:452.160000pt;}
.y27{bottom:453.120000pt;}
.y5{bottom:472.000000pt;}
.y39{bottom:494.400000pt;}
.y17{bottom:516.160000pt;}
.y4{bottom:520.000000pt;}
.y3f{bottom:548.644160pt;}
.y3{bottom:557.440000pt;}
.y38{bottom:558.400000pt;}
.ya{bottom:597.760000pt;}
.ye{bottom:656.640000pt;}
.y15{bottom:664.960000pt;}
.h5{height:58.041661pt;}
.h6{height:65.296875pt;}
.h8{height:65.625000pt;}
.h3{height:87.062500pt;}
.h2{height:93.187500pt;}
.hc{height:103.177113pt;}
.h12{height:113.749972pt;}
.h4{height:116.083304pt;}
.h7{height:116.666638pt;}
.hb{height:130.500000pt;}
.h9{height:131.250000pt;}
.hf{height:145.104196pt;}
.he{height:145.833362pt;}
.h10{height:152.708364pt;}
.ha{height:155.312531pt;}
.h11{height:155.416698pt;}
.h14{height:173.000000pt;}
.hd{height:183.250000pt;}
.h1{height:232.166696pt;}
.h13{height:284.722235pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.xc{left:28.926507pt;}
.x7{left:42.572920pt;}
.x30{left:44.072653pt;}
.x8{left:46.665507pt;}
.x2e{left:49.405987pt;}
.x31{left:69.145720pt;}
.xf{left:72.444040pt;}
.x2{left:80.191600pt;}
.x6{left:87.143200pt;}
.x10{left:103.044040pt;}
.x2f{left:108.072640pt;}
.xe{left:111.964040pt;}
.x33{left:175.100933pt;}
.x28{left:216.391333pt;}
.x5{left:243.481200pt;}
.x19{left:246.963600pt;}
.x21{left:248.992667pt;}
.x23{left:254.322400pt;}
.x2d{left:259.829733pt;}
.x27{left:263.434800pt;}
.x11{left:276.544000pt;}
.xa{left:288.179867pt;}
.xd{left:294.940400pt;}
.x3{left:297.333067pt;}
.x16{left:313.579867pt;}
.x4{left:318.833067pt;}
.x15{left:330.186533pt;}
.x1{left:357.049867pt;}
.x1b{left:373.945467pt;}
.x2b{left:387.804267pt;}
.x14{left:390.673200pt;}
.x13{left:393.120533pt;}
.x1d{left:407.746933pt;}
.x17{left:410.039867pt;}
.x1f{left:423.129333pt;}
.x12{left:446.464000pt;}
.x1e{left:467.862133pt;}
.x1c{left:482.689467pt;}
.x2a{left:488.420933pt;}
.x29{left:494.406000pt;}
.x24{left:496.764933pt;}
.x20{left:514.123467pt;}
.x26{left:521.234800pt;}
.x18{left:527.880400pt;}
.x22{left:530.819067pt;}
.x2c{left:537.179733pt;}
.x1a{left:543.677467pt;}
.x25{left:583.406000pt;}
.xb{left:742.450400pt;}
.x9{left:882.276400pt;}
.x32{left:942.270133pt;}
}
