.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.857910;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.858398;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.871094;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.857910;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.690918;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:0.873535;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffa;src:url(fa.woff)format("woff");}.ffa{font-family:ffa;line-height:0.858398;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffb;src:url(fb.woff)format("woff");}.ffb{font-family:ffb;line-height:0.926270;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffc;src:url(fc.woff)format("woff");}.ffc{font-family:ffc;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffd;src:url(fd.woff)format("woff");}.ffd{font-family:ffd;line-height:0.759766;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffe;src:url(fe.woff)format("woff");}.ffe{font-family:ffe;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:fff;src:url(ff.woff)format("woff");}.fff{font-family:fff;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff10;src:url(f10.woff)format("woff");}.ff10{font-family:ff10;line-height:0.759766;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff11;src:url(f11.woff)format("woff");}.ff11{font-family:ff11;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff12;src:url(f12.woff)format("woff");}.ff12{font-family:ff12;line-height:0.759766;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff13;src:url(f13.woff)format("woff");}.ff13{font-family:ff13;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff14;src:url(f14.woff)format("woff");}.ff14{font-family:ff14;line-height:0.876953;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff15;src:url(f15.woff)format("woff");}.ff15{font-family:ff15;line-height:0.689453;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff16;src:url(f16.woff)format("woff");}.ff16{font-family:ff16;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff17;src:url(f17.woff)format("woff");}.ff17{font-family:ff17;line-height:0.692871;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff18;src:url(f18.woff)format("woff");}.ff18{font-family:ff18;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff19;src:url(f19.woff)format("woff");}.ff19{font-family:ff19;line-height:0.688965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff1a;src:url(f1a.woff)format("woff");}.ff1a{font-family:ff1a;line-height:0.853027;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff1b;src:url(f1b.woff)format("woff");}.ff1b{font-family:ff1b;line-height:0.858398;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m2{transform:matrix(0.255000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.255000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.255000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls2f{letter-spacing:-2.265599px;}
.lsf{letter-spacing:-1.142400px;}
.lsc{letter-spacing:-1.046400px;}
.ls14{letter-spacing:-0.974400px;}
.lse{letter-spacing:-0.902400px;}
.ls29{letter-spacing:-0.806400px;}
.ls2a{letter-spacing:-0.665600px;}
.ls27{letter-spacing:-0.542400px;}
.ls1d{letter-spacing:-0.460800px;}
.ls30{letter-spacing:-0.256000px;}
.ls7{letter-spacing:-0.220800px;}
.ls19{letter-spacing:-0.211200px;}
.ls13{letter-spacing:-0.206400px;}
.lsd{letter-spacing:-0.201600px;}
.ls5{letter-spacing:-0.172800px;}
.ls21{letter-spacing:-0.168000px;}
.ls3{letter-spacing:-0.144000px;}
.ls11{letter-spacing:-0.139200px;}
.lsb{letter-spacing:-0.136800px;}
.ls4{letter-spacing:-0.134400px;}
.ls1a{letter-spacing:-0.096000px;}
.ls25{letter-spacing:-0.086400px;}
.ls23{letter-spacing:-0.081600px;}
.ls35{letter-spacing:-0.067200px;}
.ls12{letter-spacing:-0.062400px;}
.ls6{letter-spacing:-0.048000px;}
.ls1c{letter-spacing:-0.043200px;}
.ls34{letter-spacing:-0.038400px;}
.ls2d{letter-spacing:-0.028800px;}
.ls22{letter-spacing:-0.024000px;}
.ls31{letter-spacing:-0.016000px;}
.ls20{letter-spacing:-0.014400px;}
.ls1b{letter-spacing:-0.012800px;}
.ls0{letter-spacing:0.000000px;}
.ls15{letter-spacing:0.009600px;}
.ls2e{letter-spacing:0.014400px;}
.ls32{letter-spacing:0.016000px;}
.ls2{letter-spacing:0.019200px;}
.ls2b{letter-spacing:0.048000px;}
.ls1{letter-spacing:0.076800px;}
.ls24{letter-spacing:0.080000px;}
.ls28{letter-spacing:0.105600px;}
.lsa{letter-spacing:0.121600px;}
.ls10{letter-spacing:0.124800px;}
.ls26{letter-spacing:0.182400px;}
.ls9{letter-spacing:0.185600px;}
.ls8{letter-spacing:0.192000px;}
.ls1e{letter-spacing:0.201600px;}
.ls16{letter-spacing:0.206400px;}
.ls1f{letter-spacing:0.208800px;}
.ls2c{letter-spacing:0.224000px;}
.ls17{letter-spacing:0.225600px;}
.ls18{letter-spacing:0.230400px;}
.ls33{letter-spacing:0.439216px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._13{margin-left:-1834.246708px;}
._10{margin-left:-12.096002px;}
._f{margin-left:-8.176002px;}
._4{margin-left:-6.145600px;}
._8{margin-left:-4.289200px;}
._1{margin-left:-2.560000px;}
._2{margin-left:-1.380091px;}
._0{width:1.177600px;}
._9{width:2.576583px;}
._7{width:11.241600px;}
._5{width:12.610200px;}
._a{width:29.016000px;}
._3{width:38.400000px;}
._d{width:43.344012px;}
._12{width:45.315915px;}
._11{width:59.519960px;}
._c{width:62.015960px;}
._6{width:67.008000px;}
._b{width:103.519960px;}
._e{width:107.519960px;}
.fc5{color:rgb(0,173,216);}
.fc4{color:rgb(153,153,153);}
.fc0{color:rgb(255,255,255);}
.fc1{color:rgb(0,0,0);}
.fc2{color:rgb(0,0,255);}
.fc3{color:rgb(5,99,193);}
.fs6{font-size:31.999997px;}
.fs7{font-size:39.999994px;}
.fs5{font-size:48.000000px;}
.fs3{font-size:63.999994px;}
.fs4{font-size:72.000000px;}
.fs1{font-size:96.000000px;}
.fs8{font-size:120.000000px;}
.fs2{font-size:127.999968px;}
.fs9{font-size:160.000032px;}
.fsb{font-size:192.000000px;}
.fs0{font-size:256.000032px;}
.fsa{font-size:313.725504px;}
.y0{bottom:0.000000px;}
.y26{bottom:62.400000px;}
.y25{bottom:74.400000px;}
.y44{bottom:76.800000px;}
.y24{bottom:89.280000px;}
.y19{bottom:111.360000px;}
.y3e{bottom:118.800000px;}
.y23{bottom:120.960000px;}
.y18{bottom:122.400000px;}
.y43{bottom:124.800000px;}
.y20{bottom:132.480000px;}
.y22{bottom:134.880000px;}
.y17{bottom:136.320000px;}
.y21{bottom:150.000000px;}
.y16{bottom:151.440000px;}
.y49{bottom:161.520000px;}
.y3d{bottom:166.800000px;}
.y48{bottom:170.400000px;}
.y42{bottom:172.800000px;}
.y45{bottom:178.800000px;}
.y34{bottom:185.040000px;}
.y2a{bottom:186.480000px;}
.y38{bottom:198.480000px;}
.y1f{bottom:198.720000px;}
.y29{bottom:200.400000px;}
.y8{bottom:210.960000px;}
.y1e{bottom:212.640000px;}
.yc{bottom:213.840000px;}
.y28{bottom:214.560000px;}
.y2{bottom:216.480000px;}
.y3c{bottom:220.800000px;}
.y41{bottom:226.800000px;}
.y1d{bottom:227.760000px;}
.y27{bottom:229.440000px;}
.y7{bottom:246.960000px;}
.ya{bottom:268.800000px;}
.y40{bottom:274.800000px;}
.y6{bottom:282.960000px;}
.y1{bottom:285.360000px;}
.y11{bottom:309.120000px;}
.yb{bottom:316.320000px;}
.y3b{bottom:316.800000px;}
.y5{bottom:318.960000px;}
.y3f{bottom:322.800000px;}
.y47{bottom:326.880000px;}
.y2b{bottom:345.120000px;}
.y33{bottom:353.760000px;}
.y4{bottom:354.000000px;}
.y3a{bottom:364.800000px;}
.y32{bottom:367.920000px;}
.y37{bottom:370.800000px;}
.y31{bottom:381.840000px;}
.y3{bottom:390.000000px;}
.y30{bottom:396.720000px;}
.y46{bottom:411.483120px;}
.y39{bottom:412.800000px;}
.y10{bottom:413.280000px;}
.y15{bottom:418.560000px;}
.y36{bottom:418.800000px;}
.yf{bottom:427.440000px;}
.y1c{bottom:430.080000px;}
.y14{bottom:432.480000px;}
.ye{bottom:441.360000px;}
.y1b{bottom:444.240000px;}
.y13{bottom:446.400000px;}
.y9{bottom:448.320000px;}
.yd{bottom:456.240000px;}
.y1a{bottom:459.120000px;}
.y12{bottom:461.520000px;}
.y2f{bottom:468.480000px;}
.y2e{bottom:482.400000px;}
.y2d{bottom:496.560000px;}
.y35{bottom:498.720000px;}
.y2c{bottom:511.440000px;}
.h7{height:22.171873px;}
.ha{height:28.710933px;}
.h6{height:33.257813px;}
.h8{height:34.453125px;}
.h4{height:43.531246px;}
.h5{height:48.972656px;}
.h9{height:51.679688px;}
.hc{height:52.417969px;}
.h2{height:65.296875px;}
.hd{height:85.312479px;}
.h3{height:87.062478px;}
.hf{height:87.499978px;}
.hb{height:114.531273px;}
.he{height:116.484398px;}
.h11{height:129.750000px;}
.h1{height:174.125022px;}
.h10{height:213.541676px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x13{left:21.694880px;}
.x10{left:26.351020px;}
.x6{left:31.929690px;}
.x19{left:33.054490px;}
.x15{left:37.054490px;}
.x17{left:39.054490px;}
.x1e{left:51.859290px;}
.x5{left:65.357400px;}
.x18{left:69.054480px;}
.x9{left:73.720550px;}
.x1a{left:78.054480px;}
.x1b{left:81.054480px;}
.x1c{left:102.804500px;}
.x16{left:106.290400px;}
.x1d{left:113.929500px;}
.x20{left:131.325700px;}
.x4{left:182.610900px;}
.x2{left:222.999800px;}
.xf{left:229.295400px;}
.x3{left:239.124800px;}
.x1{left:267.787400px;}
.xb{left:380.991300px;}
.xa{left:388.847900px;}
.xc{left:392.991300px;}
.x14{left:410.088200px;}
.x7{left:475.392400px;}
.xd{left:564.807500px;}
.xe{left:576.807500px;}
.x8{left:616.390900px;}
.x12{left:651.442900px;}
.x1f{left:706.702600px;}
.x11{left:746.812800px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls2f{letter-spacing:-3.020799pt;}
.lsf{letter-spacing:-1.523200pt;}
.lsc{letter-spacing:-1.395200pt;}
.ls14{letter-spacing:-1.299200pt;}
.lse{letter-spacing:-1.203200pt;}
.ls29{letter-spacing:-1.075200pt;}
.ls2a{letter-spacing:-0.887466pt;}
.ls27{letter-spacing:-0.723200pt;}
.ls1d{letter-spacing:-0.614400pt;}
.ls30{letter-spacing:-0.341333pt;}
.ls7{letter-spacing:-0.294400pt;}
.ls19{letter-spacing:-0.281600pt;}
.ls13{letter-spacing:-0.275200pt;}
.lsd{letter-spacing:-0.268800pt;}
.ls5{letter-spacing:-0.230400pt;}
.ls21{letter-spacing:-0.224000pt;}
.ls3{letter-spacing:-0.192000pt;}
.ls11{letter-spacing:-0.185600pt;}
.lsb{letter-spacing:-0.182400pt;}
.ls4{letter-spacing:-0.179200pt;}
.ls1a{letter-spacing:-0.128000pt;}
.ls25{letter-spacing:-0.115200pt;}
.ls23{letter-spacing:-0.108800pt;}
.ls35{letter-spacing:-0.089600pt;}
.ls12{letter-spacing:-0.083200pt;}
.ls6{letter-spacing:-0.064000pt;}
.ls1c{letter-spacing:-0.057600pt;}
.ls34{letter-spacing:-0.051200pt;}
.ls2d{letter-spacing:-0.038400pt;}
.ls22{letter-spacing:-0.032000pt;}
.ls31{letter-spacing:-0.021333pt;}
.ls20{letter-spacing:-0.019200pt;}
.ls1b{letter-spacing:-0.017067pt;}
.ls0{letter-spacing:0.000000pt;}
.ls15{letter-spacing:0.012800pt;}
.ls2e{letter-spacing:0.019200pt;}
.ls32{letter-spacing:0.021333pt;}
.ls2{letter-spacing:0.025600pt;}
.ls2b{letter-spacing:0.064000pt;}
.ls1{letter-spacing:0.102400pt;}
.ls24{letter-spacing:0.106667pt;}
.ls28{letter-spacing:0.140800pt;}
.lsa{letter-spacing:0.162133pt;}
.ls10{letter-spacing:0.166400pt;}
.ls26{letter-spacing:0.243200pt;}
.ls9{letter-spacing:0.247467pt;}
.ls8{letter-spacing:0.256000pt;}
.ls1e{letter-spacing:0.268800pt;}
.ls16{letter-spacing:0.275200pt;}
.ls1f{letter-spacing:0.278400pt;}
.ls2c{letter-spacing:0.298667pt;}
.ls17{letter-spacing:0.300800pt;}
.ls18{letter-spacing:0.307200pt;}
.ls33{letter-spacing:0.585621pt;}
.ws0{word-spacing:0.000000pt;}
._13{margin-left:-2445.662278pt;}
._10{margin-left:-16.128003pt;}
._f{margin-left:-10.901336pt;}
._4{margin-left:-8.194134pt;}
._8{margin-left:-5.718933pt;}
._1{margin-left:-3.413334pt;}
._2{margin-left:-1.840122pt;}
._0{width:1.570134pt;}
._9{width:3.435444pt;}
._7{width:14.988800pt;}
._5{width:16.813599pt;}
._a{width:38.688000pt;}
._3{width:51.200000pt;}
._d{width:57.792016pt;}
._12{width:60.421220pt;}
._11{width:79.359947pt;}
._c{width:82.687947pt;}
._6{width:89.344000pt;}
._b{width:138.026613pt;}
._e{width:143.359947pt;}
.fs6{font-size:42.666662pt;}
.fs7{font-size:53.333325pt;}
.fs5{font-size:64.000000pt;}
.fs3{font-size:85.333325pt;}
.fs4{font-size:96.000000pt;}
.fs1{font-size:128.000000pt;}
.fs8{font-size:160.000000pt;}
.fs2{font-size:170.666624pt;}
.fs9{font-size:213.333376pt;}
.fsb{font-size:256.000000pt;}
.fs0{font-size:341.333376pt;}
.fsa{font-size:418.300672pt;}
.y0{bottom:0.000000pt;}
.y26{bottom:83.200000pt;}
.y25{bottom:99.200000pt;}
.y44{bottom:102.400000pt;}
.y24{bottom:119.040000pt;}
.y19{bottom:148.480000pt;}
.y3e{bottom:158.400000pt;}
.y23{bottom:161.280000pt;}
.y18{bottom:163.200000pt;}
.y43{bottom:166.400000pt;}
.y20{bottom:176.640000pt;}
.y22{bottom:179.840000pt;}
.y17{bottom:181.760000pt;}
.y21{bottom:200.000000pt;}
.y16{bottom:201.920000pt;}
.y49{bottom:215.360000pt;}
.y3d{bottom:222.400000pt;}
.y48{bottom:227.200000pt;}
.y42{bottom:230.400000pt;}
.y45{bottom:238.400000pt;}
.y34{bottom:246.720000pt;}
.y2a{bottom:248.640000pt;}
.y38{bottom:264.640000pt;}
.y1f{bottom:264.960000pt;}
.y29{bottom:267.200000pt;}
.y8{bottom:281.280000pt;}
.y1e{bottom:283.520000pt;}
.yc{bottom:285.120000pt;}
.y28{bottom:286.080000pt;}
.y2{bottom:288.640000pt;}
.y3c{bottom:294.400000pt;}
.y41{bottom:302.400000pt;}
.y1d{bottom:303.680000pt;}
.y27{bottom:305.920000pt;}
.y7{bottom:329.280000pt;}
.ya{bottom:358.400000pt;}
.y40{bottom:366.400000pt;}
.y6{bottom:377.280000pt;}
.y1{bottom:380.480000pt;}
.y11{bottom:412.160000pt;}
.yb{bottom:421.760000pt;}
.y3b{bottom:422.400000pt;}
.y5{bottom:425.280000pt;}
.y3f{bottom:430.400000pt;}
.y47{bottom:435.840000pt;}
.y2b{bottom:460.160000pt;}
.y33{bottom:471.680000pt;}
.y4{bottom:472.000000pt;}
.y3a{bottom:486.400000pt;}
.y32{bottom:490.560000pt;}
.y37{bottom:494.400000pt;}
.y31{bottom:509.120000pt;}
.y3{bottom:520.000000pt;}
.y30{bottom:528.960000pt;}
.y46{bottom:548.644160pt;}
.y39{bottom:550.400000pt;}
.y10{bottom:551.040000pt;}
.y15{bottom:558.080000pt;}
.y36{bottom:558.400000pt;}
.yf{bottom:569.920000pt;}
.y1c{bottom:573.440000pt;}
.y14{bottom:576.640000pt;}
.ye{bottom:588.480000pt;}
.y1b{bottom:592.320000pt;}
.y13{bottom:595.200000pt;}
.y9{bottom:597.760000pt;}
.yd{bottom:608.320000pt;}
.y1a{bottom:612.160000pt;}
.y12{bottom:615.360000pt;}
.y2f{bottom:624.640000pt;}
.y2e{bottom:643.200000pt;}
.y2d{bottom:662.080000pt;}
.y35{bottom:664.960000pt;}
.y2c{bottom:681.920000pt;}
.h7{height:29.562497pt;}
.ha{height:38.281244pt;}
.h6{height:44.343750pt;}
.h8{height:45.937500pt;}
.h4{height:58.041661pt;}
.h5{height:65.296875pt;}
.h9{height:68.906250pt;}
.hc{height:69.890625pt;}
.h2{height:87.062500pt;}
.hd{height:113.749972pt;}
.h3{height:116.083304pt;}
.hf{height:116.666638pt;}
.hb{height:152.708364pt;}
.he{height:155.312531pt;}
.h11{height:173.000000pt;}
.h1{height:232.166696pt;}
.h10{height:284.722235pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x13{left:28.926507pt;}
.x10{left:35.134693pt;}
.x6{left:42.572920pt;}
.x19{left:44.072653pt;}
.x15{left:49.405987pt;}
.x17{left:52.072653pt;}
.x1e{left:69.145720pt;}
.x5{left:87.143200pt;}
.x18{left:92.072640pt;}
.x9{left:98.294067pt;}
.x1a{left:104.072640pt;}
.x1b{left:108.072640pt;}
.x1c{left:137.072667pt;}
.x16{left:141.720533pt;}
.x1d{left:151.906000pt;}
.x20{left:175.100933pt;}
.x4{left:243.481200pt;}
.x2{left:297.333067pt;}
.xf{left:305.727200pt;}
.x3{left:318.833067pt;}
.x1{left:357.049867pt;}
.xb{left:507.988400pt;}
.xa{left:518.463867pt;}
.xc{left:523.988400pt;}
.x14{left:546.784267pt;}
.x7{left:633.856533pt;}
.xd{left:753.076667pt;}
.xe{left:769.076667pt;}
.x8{left:821.854533pt;}
.x12{left:868.590533pt;}
.x1f{left:942.270133pt;}
.x11{left:995.750400pt;}
}
